<p style="color: green"><%= notice %></p>

<h1>Assets</h1>

<div id="assets">
  <% @assets.each do |asset| %>
    <%= render partial: 'equipments/asset', locals: {asset: asset}%>
    <p>
      <%= link_to "Show this asset", equipment_path(asset) %>
    </p>
  <% end %>
</div>

<%= link_to "New asset", new_equipment_path %>
