<div id="<%= dom_id asset_type %>">
  <p>
    <strong>Nombre:</strong>
    <%= asset_type.nombre %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= asset_type.observaciones %>
  </p>

</div>
