<h1>New working order purchase element</h1>

<%= render "form", working_order_purchase_element: @working_order_purchase_element %>

<br>

<div>
  <%= link_to "Back to working order purchase elements", working_order_purchase_elements_path %>
</div>
