<h1>New delivery collect record</h1>

<%= render "form", delivery_collect_record: @delivery_collect_record %>

<br>

<div>
  <%= link_to "Back to delivery collect records", delivery_collect_records_path %>
</div>
