<div id="<%= dom_id delivery_collect_record_asset %>">
  <p>
    <strong>Delivery collect record:</strong>
    <%= delivery_collect_record_asset.delivery_collect_record_id %>
  </p>

  <p>
    <strong>Asset:</strong>
    <%= delivery_collect_record_asset.asset_id %>
  </p>

</div>
