<h1>New delivery collect record asset</h1>

<%= render "form", delivery_collect_record_asset: @delivery_collect_record_asset %>

<br>

<div>
  <%= link_to "Back to delivery collect record assets", delivery_collect_record_assets_path %>
</div>
