<h1>Editing working order</h1>

<%= render "form", working_order: @working_order %>

<br>

<div>
  <%= link_to "Show this working order", @working_order %> |
  <%= link_to "Back to working orders", working_orders_path %>
</div>
