<h1>New working order activity</h1>

<%= render "form", working_order_activity: @working_order_activity %>

<br>

<div>
  <%= link_to "Back to working order activities", working_order_activities_path %>
</div>
